
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit

  {% endblock %}

  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="">Back</a>
 
      <h1 class="govuk-heading-xl">
        Money claims service
        <span class="govuk-caption-xl"></span>
      </h1>
      
<p>We’re building a new service for civil money claims. You will be asked some questions to check which service is right for you.</p>
  
      <div class="govuk-button-group">
        <a href="mcol.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>



      
    </div>
  </div>

{% endblock %}
