
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit

  {% endblock %}

  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="">Back</a>
 
      <h1 class="govuk-heading-xl">
        Make a money claim online
        <span class="govuk-caption-xl"></span>
      </h1>
      
<p>First we need to ask you some questions to check which service you should use.</p>


<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h2 class="govuk-heading-m">
        Tell us the amount you're claiming
      </h2>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live">
         Over £10,000
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
         £10,000 or less
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
          I do not know the amount
        </label>
      </div>

    </div>

  </fieldset>
</div>

  

      <div class="govuk-button-group">
        <a href="mcol.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>



      
    </div>
  </div>

{% endblock %}
