
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit

  {% endblock %}

  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a class="govuk-back-link" href="/start.html">Back</a>
      <p class="fb-editable govuk-caption-l fb-section_heading" data-fb-content-type="element" data-fb-content-id="page[section_heading]" data-fb-default-text="[Optional section heading]">
        Page 1 of 4
      </p>
      <h1 class="govuk-heading-xl">
        Mediation in a money claims dispute
        <span class="govuk-caption-xl"></span>
      </h1>
      <h2 class="govuk-heading-m">
        Mediation is only available if you:
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          are willing to negotiate on the amount of the claim and will consider a compromise
        </li>
        <li>
          have enough information about the claim to enter into negotiations, and do not require any further evidence from the other party before starting mediation
        </li>
        <li>
          are available for the entire time slot on the day of your appointment
        </li>
      </ul>

      <div class="govuk-inset-text">
  <p>
        If you cannot answer yes to all 3, mediation is not suitable for your case and you should <a href="mailto:scmreferrals@justice.gov.uk">contact us</a>.
      </p></div>

  

      <div class="govuk-button-group">
        <a href="what-happens.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>



      
    </div>
  </div>

{% endblock %}
