
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit

  {% endblock %}

  

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a class="govuk-back-link" href="/index.html">Back</a>
        <p class="fb-editable govuk-caption-l fb-section_heading" data-fb-content-type="element" data-fb-content-id="page[section_heading]" data-fb-default-text="[Optional section heading]">
          Page 2 of 4
        </p>
      
        <h1 class="fb-editable govuk-heading-xl" data-fb-content-id="page[heading]" data-fb-content-type="element">
            What happens in mediation
          </h1>
     <p>You must participate in mediation with the intention of reaching an agreement. You must be prepared to listen to points raised by the other party, be willing to compromise and be able to agree a decision. This short guide explains what happens during mediation.
    </p>

          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                   Introduction from the mediator
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>The mediator will introduce themselves and check that you have read and understood the mediation process.</p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                   Explain your point of view
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>You will need to explain your claim or defence in concise terms to the mediator. Prepare a brief summary of your opening position - only the key points are necessary.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Negotiate options
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>You’re attending mediation with a view to settling your case - this means negotiating to overcome disputed issues. The mediator is neutral and helps each party to explore options and discuss risks. Mediation works when you’re willing to listen to what the other party has to say, negotiate and agree a settlement.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                   Build agreement
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>Settlement can be in many different forms, for example, payment, goods or work. Both parties must agree on the outcome and feel they have reached an acceptable resolution.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                  <h2 class="govuk-accordion__section-heading">
                    <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                     Reach a settlement
                    </span>
                  </h2>
                </div>
                <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                  <p class='govuk-body'>The mediator will read the terms of the settlement and confirm agreement with each party. Once agreed, the settlement is legally binding and cannot be changed. A copy of the mediation settlement is made available to both parties and placed on the court file.

                  </p>
                </div>
              </div>
          </div>

  

      <div class="govuk-button-group">
        <a href="claim-number.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Continue
        </a>
      
        <a class="govuk-link" href="#">Cancel</a>
      </div>



      
    </div>
  </div>

{% endblock %}
